
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 8px 0;
}

p {
margin: 0;
}

.spacer {
flex: 0.3;
}

.toolbar {
position: absolute;
top: 0;
left: 0;
right: 0;
height: 5%;
display: flex;
align-items: center;
background-color: #c54d38;
color: white;
font-weight: 600;
}


footer {
margin-top: 8px;
display: flex;
align-items: center;
line-height: 20px;
}

footer a {
display: flex;
align-items: center;
}

.name-github{
    text-decoration: none;
    color: white;
}

.content {
    display: flex;
    background-color: rgb(157, 193, 229);
    margin: -10px;
    padding-bottom: 50%;
}

.address-container{
    background-color: yellow;
    margin: 10%;
    padding: 1%;
    width: 25em;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: -10%;
}

.address{
    display: flex;
    min-height: 90px;
    min-width: 300px;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
}

.address-titles{
    margin: 2%;
    text-align: center;
}

.name-conainer{
    white-space: nowrap;
}

.name-container > * {
    display: inline;
    margin-right: 5px;
}

.add-entry-container{
    margin-top: 10%;
    margin-left: 10%;
}

.add-entry-container > label{
    min-width: 100px;
    float: left;
}

.add-entry-container > input{
    width: 80%;
    margin-bottom: 3%;
}

