<style>
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="spacer"></div>
  <span>Welcome to your (forgetful) address book!</span>
  <div class="spacer"></div>
  <a class="name-github" target="_blank" href="https://github.com/lucasgruenwald">🔗 By Luke Gruenwald</a>
</div>

<!-- holds contacts & new contact form -->
<div class="content" role="main">
  <!-- Left Side of Page -->
  <div class="address-container">
    <div class="book-header">
      <h3>Contacts</h3>
      <!-- Dropdown to sort contacts -->
      <div class="dropdown">
        <button class="drop-button">Sort By</button>
        <div class="dropdown-content">
          <a (click)="sortByLastName('asc')">
            Last Name (A-Z)
          </a>
          <a (click)="sortByLastName('desc')">
            Last Name (Z-A)
          </a>
          <a (click)="sortByFirstName('asc')">
            First Name (A-Z)
          </a>
          <a (click)="sortByFirstName('desc')">
            First Name (Z-A)
          </a>
          <a (click)="sortByAge('newest')">
            Date (New to Old)
          </a>
          <a (click)="sortByAge('oldest')">
            Date (Old to New)
          </a>
        </div>
      </div>
    </div>
    <!-- display contacts below -->
    <div *ngFor="let entry of addressEntries" class="address">
      <!-- create table for each contact -->
      <table>
        <tr>
          <th>Name</th>
          <td>{{entry.fName}} {{entry.lName}}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>{{entry.address}}</td>
        </tr>
        <tr>  
          <th>Email</th>
          <td>{{entry.email}}</td>
        </tr>
        <tr>
          <th>Phone</th>
          <td>{{entry.phone}}</td>
        </tr>
      </table>
      <button class="delete-contact" (click)="deleteEntry(entry.order)">
        ×
      </button>
      <button class="edit-contact" id="edit-contact-btn" (click)="selectToEdit(entry.order)">
        ✏️
      </button>
    </div>
  </div>
  
  <!-- form to create new contacts  -->
  <div class="add-entry-container">
    <h3>New Contact:</h3>
    <form #inputForm="ngForm" (ngSubmit)="onSubmit(inputForm, 
      fname.valid, lname.valid)">
      <div class="form-group">
        <label for="fname">First name:</label>
        <input 
          required
          minlength="1"
          maxlength="18"
          ngModel 
          #fname="ngModel"
          type="text" 
          id="fname" 
          name="fname"
          class="form-input">
          <div class="alert" *ngIf="fname.touched && !fname.valid">First Name Required</div>
      </div>
      <div class="form-group">
        <label for="lname">Last name:</label>
        <input 
          required
          minlength="1"
          maxlength="20"
          ngModel  
          #lname="ngModel"
          type="text" 
          id="lname" 
          name="lname"
          class="form-input">
        <div class="alert" *ngIf="lname.touched && !lname.valid">Last Name Required</div>
      </div>
      <div class="form-group">
        <label for="address">Address:</label>
        <input 
          maxlength="60"
          ngModel  
          #address="ngModel"
          type="text" 
          id="address" 
          name="address"
          class="form-input">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input 
            maxlength="30"
            ngModel  
            #email="ngModel"
            type="text" 
            id="email" 
            name="email"
            class="form-input">
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input 
            maxlength="15"
            ngModel  
            #phone="ngModel"
            type="text" 
            id="phone" 
            name="phone"
            class="form-input">
      </div>
      <button 
      class="add-entry-button" 
      id="add-entry-btn" 
      type="submit">
      Add Entry
      </button>
    </form>
    <br>
    <form #editForm="ngForm" action="" (ngSubmit)="editEntry(editForm)">
      <!-- button click will tell you what 'order' entry you are editing -->
      <h3>Edit Contact</h3>
      <div class="form-group">
        <label for="fName">First name:</label>
        <input required ngModel #fName="ngModel" type="text" id="fName" name="fName" class="form-input-edit">
      </div>
      <div class="form-group">
        <label for="lName">Last name:</label>
        <input required ngModel #lName="ngModel" type="text" id="lName" name="lName" class="form-input-edit">
      </div>
      <div class="form-group">
        <label for="address">Address:</label>
        <input required ngModel #address="ngModel" type="text" id="address" name="address" class="form-input-edit">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input required ngModel #email="ngModel" type="text" id="email" name="email" class="form-input-edit">
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input required ngModel #phone="ngModel" type="text" id="phone" name="phone" class="form-input-edit">
      </div>
      <button class="edit-entry-button" id="edit-entry-btn" type="submit">
        Submit Changes
      </button>
    </form>
    <!-- <button onClick="window.location.reload();" class="reset-button">
      Reset Contacts
    </button> -->
  </div>

</div>

